//- Twitter cards
meta(content='summary_large_image', name='twitter:card')
meta(content='@TheSchooLab', name='twitter:site')
meta(content='@TheSchooLab', name='twitter:creator')
meta(content='Engie', name='twitter:title')
meta(content="Description", name='twitter:description')
meta(content='http://reboot.theschoolab.com/images/favicon-big.jpg', name='twitter:image:src')
