title Engie

meta(content='text/html; charset=utf-8', http-equiv='Content-Type')
meta(name="description" content="Description")
meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui")
link(href='http://website.com/', rel='canonical')
link(href='http://website.com/img/favicon.png', rel='icon', type='image/png')

//- include ../includes/meta_twitter.pug
//- include ../includes/open_graph.pug
//- include ../includes/meta_google.pug

//- App/Mobile
meta(content='#202543', name='theme-color')
meta(name="apple-mobile-web-app-status-bar-style", content="#202543")
meta(name="apple-mobile-web-app-capable", content="yes")
meta(name="HandheldFriendly", content="true")
link(href='http://website.com/img/favicon-big.png', rel='apple-touch-icon-precomposed')
link(href='http://website.com/img/favicon-152.png', rel='apple-touch-icon-precomposed', sizes='152x152')
link(href='http://website.com/img/favicon-120.png', rel='apple-touch-icon-precomposed', sizes='120x120')
link(href='http://website.com/img/favicon-76.png', rel='apple-touch-icon-precomposed', sizes='76x76')

//- MS App
meta(content='Reboot', name='application-name')
meta(content='#202543', name='msapplication-TileColor')
meta(content='http://website.com/img/favicon-76.png', name='msapplication-square76x76logo')
meta(content='http://website.com/img/favicon-120.png', name='msapplication-square120x120logo')
meta(content='http://website.com/img/favicon-152.png', name='msapplication-square152x152logo')
