//- Open Graph
meta(content='Reboot', property='og:site_name')
meta(content='Engie', property='og:title')
meta(content="Description", property='og:description')
meta(content='http://reboot.theschoolab.com/', property='og:url')
meta(content='http://reboot.theschoolab.com/images/favicon-big.jpg', property='og:image')
meta(content='website', property='og:type')
meta(content='fr', property='og:locale')
