script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js")
script(src="js/main.min.js")
script(src="js/vendors/tether.min.js")
script(src="js/vendors/bootstrap.min.js")
script(src="js/vendors/ga.js")
