extends ./templates/default.pug

block activeLink
  -var active = 'caution-st';

block content
  include ./layouts/hero-caution-st.pug
  include ./layouts/murs-fenetre-st.pug
  include ./layouts/sanitaires-cuisine-st.pug
  include ./layouts/sols-st.pug
  include ./layouts/meubles-electromenagers-st.pug
  include ./layouts/electicite-st.pug
  include ./layouts/to-lastpage.pug
