extends ./templates/default.pug

block activeLink
  -var active = 'Accueil';

block content
  include ./layouts/hero.pug
  include ./layouts/explication.pug
  include ./layouts/problem-options.pug
  include ./layouts/avis-clients.pug
  
