extends ./templates/default.pug

block activeLink
  -var active = 'Accueil';

block content
  include ./layouts/header-home-page.pug
  include ./layouts/categories.pug
  include ./layouts/choix-fute.pug
  include ./layouts/explication-home-page.pug
  include ./layouts/options-home-page.pug
  include ./layouts/avis-clients.pug
