extends ./templates/default.pug

block activeLink
  -var active = 'page-resultats';

block content
  include ./layouts/hero-resultats.pug
  include ./layouts/murs-fenetres-resultats.pug
  include ./layouts/sanitaires-cuisine-resultats.pug
  include ./layouts/sols-resultats.pug
  include ./layouts/meubles-resultats.pug
  include ./layouts/elec-resultats.pug
  
  
