.section-sanitaires-cuisine-resultats {
  padding: 4em 0;
  background-color: #f8f4f0;
}

.content-cuisine-resultats {
  img {
    width: 100%;
    height: 64px;
  }

  h2 {
    font-family: 'antipasto';
    font-size: 2rem;
    padding: 1.5rem 0;
  }

  h3 {
    font-family: 'antipasto';
    font-size: 1.5rem;
    padding: 0.8rem 0;
  }

  h4 {
    border-bottom: 1px solid black;
    color: $black;
  }

  p {
    font-family: 'antipasto';
    font-size: 1.1rem;
    padding-bottom: 0.8rem;
  }
}

.content-produits {
  display: flex;
  position: relative;

  .infor {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: #a5a5fd;
    margin: 1.2rem 0.5rem;
  }

  a {
    text-decoration: none;
    color:#ccc;
    text-shadow:0 -1px 0 black;
    font-family: normal;
    color: $white;
    text-align: center;
    cursor: pointer;
  }

  .content-infor {
    width: 300px;
    height: 150px;
    margin-left: 21em;
    background-color: $white;
    border: 3px solid #09c;
    border-radius: 4px;
    position: absolute;
    z-index: 1000;
    &:before {
      width: 0;
      height: 0;
      position: absolute;
      top:0;
      left:-2em;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
      border-right:20px solid #09c;
      z-index: 1000;
    }
    p {
      color: $black;
    }
  }
}
