.section-sanitaires-cuisine-st {
  background-color: #f8f4f0;
  padding: 4em;
}

.sanitaire-cuisine {
  display: flex;
}

.cuisine-st {
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.content-cuisine {
  text-align: left;
  margin-bottom: 1.5em;

  h2 {
    font-family: 'antipasto';
    font-size: 2rem;
    font-weight: bold;
    padding: 1.5rem 0;
  }

  img {

  }

  p {
    font-family: 'antipasto';
    font-size: 1.3rem;
    &:last-child {
      font-family: 'antipasto';
      font-size: 1.3rem;
      color: #777;
    }
  }
}

input.input-st {
  margin: 0;
}

.liste-st-cuisine {
  display: flex;
  flex-direction: column;
  justify-content: center;

  li {
    padding: 0.4rem;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  p {
    display: inline-block;
    padding: 0 1.2rem;
    font-family: 'antipasto';
    font-size: 1.3rem;
  }
}
