.section-choix-fute {
  background-color: #f8f4f0;
  padding: 2em;
}

.choix-fute {
  display: flex;
}

.choix-img {
  width: 20%;
  height: auto;
}

.choix-img img {
  max-width: 140px;
  max-height: 140px;
  padding-top: 2em;
}

.choix-img p {
  font-family: "antipasto";
  font-size: 1.3em;
}

.choix-img p:nth-child(2) {
  padding-top: 1.8em;
}

.camion-color {
  color: $orange;
}

.prochainement-color {
  color: #cccccc;
}
