.section-hero-resultats {
  width: 100%;
  height:auto;
  padding: 1rem 0;
  background-image: url("../img/bg-cover.png");
  background-position: center;
}

.section-hero-resultats img {
  padding: 0 2em;
}

.title-hero-resultats h2 {
  font-family: "felt";
  font-size: 4em;
  color: $orange;
  padding: 3rem 0;
}

.content-conseils {
  h3 {
    font-family: "antipasto";
    font-size: 1.5em;
    color: $white;
  }

  h2 {
    font-family: "antipasto";
    font-size: 1.8em;
    color: $white;
  }
}

.button-res {
  margin: 3rem 0;
}
