.section-sanitaires-cuisine-st {
  background-color: #f8f4f0;
  padding: 2em;
}

.div-sanitaire {
  width: 100%;
  height: auto;
  display: flex;
}

.sous-theme-sanitaire {
  width: 17%;
  height: auto;
  padding-top: 2.5em;
}

.sous-theme-sanitaire p {
  font-family: 'antipasto';
  font-size: 1.5em;
}

.sous-theme-sanitaire img {

}
