.section-electricite-st {
  background-color: #f8f4f0;
  padding: 2em;
}

.div-elec {
  width: 100%;
  height: auto;
  display: flex;
}

.sous-theme-elec {
  width: 33%;
  height: auto;
  padding-top: 2.5em;
}

.sous-theme-elec p {
  font-family: 'antipasto';
  font-size: 1.5em;
}

.sous-theme-elec img {

}
