.section-explication-home-page {
  background-color: $orange;
  padding: 2em;
}

.explication-home-page {
  display: flex;
}

.explication-home-page img {
  max-width: 100px;
  max-height: 130px;
  display: block;
  margin: auto;
}

.text-explication-home-page {
  display: flex;
}

.text-explication-home-page p {
  color: $white;
  font-family: 'myriad';
  font-weight: bold;
  padding: 2em;
}
