.section-avis-clients{
  width: 100%;
  height: auto;
  padding: 4em 0;
  background-image: url("../img/fond-avis-clients.png");
}

.img-avatar{
  display: block;
  margin: auto;
  border-radius: 100px;
}

.avis p{
  color: #5a5a5a;
  font-family: 'myriad-it';
  text-align: center;
  padding-top: 1.5em;
}

.nom-client p{
  color: #5a5a5a;
  font-family: 'antipasto';
  font-style: italic;
  text-align: center;
  padding-top: 3em;
}
