.section-options-home-page {
  background-color: $white;
  padding: 2em;
}

.title-options-home-page p {
  font-family: 'myriad';
  font-weight: bold;
  padding: 0.6em;
}

.title-options-home-page a {
  font-family: 'myriad';
  color: #5a5a5a;
}
