.section-sols-st {
  background-color: $orange;
  padding: 4em;
}

.sanitaire-sols {
  display: flex;
}

.sols-st {
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.content-sols {
  text-align: left;
  margin-bottom: 1.5em;

  h2 {
    font-family: 'antipasto';
    font-size: 2rem;
    font-weight: bold;
    padding: 1.5rem 0;
  }

  img {
    border-radius: 3px;
  }

  p {
    font-family: 'antipasto';
    font-size: 1.3rem;
    &:last-child {
      font-family: 'antipasto';
      font-size: 1.3rem;
      color: rgba($black, .5);
    }
  }
}

.liste-st-sols {
  display: flex;
  flex-direction: column;
  justify-content: center;

  li {
    padding: 0.4rem;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  p {
    display: inline-block;
    padding: 0 1.2rem;
    font-family: 'antipasto';
    font-size: 1.3rem;
  }
}
