.hero-caution-st {
  width: 100%;
  height: 50vh;
  background-image: url("../img/bg-caution-st.png");
  background-size: cover;
  background-position: center;
}

.section-hero-caution-st {
  display: flex;
  align-items: center;
}
