.section-murs-fenetres-st {
  background-color: $white;
  padding: 2em;
}

.div-murs {
  width: 100%;
  height: auto;
  display: flex;
}

.sous-theme-murs {
  width: 25%;
  height: auto;
  padding-top: 2.5em;
}

.sous-theme-murs p {
  font-family: 'antipasto';
  font-size: 1.5em;
}

.sous-theme-murs img {

}
