.hero{
  width: 100%;
  height: 100vh;
  background-image: url("../img/bg-cover.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

.hero-top{
  padding: 8rem 0;
}
