.section-hero-resultats {
  width: 100%;
  height:auto;
  padding: 2rem 0;
  background-image: url("../img/bg-cover.png");
}

.title-hero-resultats h2 {
  font-family: "felt";
  font-size: 4em;
  color: $orange;
}

.schema-economie {
  display: inline-block;
}

.schema-economie h3 {
  font-family: "antipasto";
  font-size: 1.5em;
  color: $white;
  position: relative;

  &:first-child {
    margin-top: 2em;
  }

  &:nth-child(2) {
    margin: 0.6em 0;
  }

  &:last-child {
    margin-bottom: 2em;
  }

  // &:before {
  //   content:'';
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   border-radius: 50%;
  //   width: 3rem;
  //   height: 3rem;
  //   background-color: red;
  // }
}
