.button-hero {
  background-color: $orange;
  border-radius: 0;
  border: none;
  text-transform: uppercase;
  color: $white;

  &:hover{
    background-color: $orange;
    opacity: 0.8;
    cursor: pointer;
    color: $white;
  }

  &:focus{
    box-shadow: none;
  }
}

.buttons {
  background-color: transparent;
  color: $orange;
  border-radius: 0;
  border: 2px solid $orange;
  text-transform: uppercase;
  margin-top: 2em;

  &:hover{
    background-color: $orange;
    border: 2px solid $orange;
    opacity: 0.8;
    cursor: pointer;
    color: $white;
  }

  &:focus{
    box-shadow: none;
  }
}

.button-resultats {
  margin-top: 0;
  margin-bottom: 1.2rem;
}

.button-hide {
  background-color: transparent;
  border: none;
  color: transparent;
}
