.title-hero{
  font-family: 'felt';
  font-size: 4em;
  color: #f19d29;
  padding-bottom: 0.3em;
}

.subtitle-hero{
  font-family: 'antipasto-xlight';
}

.text-subtitle h2:first-child {
  font-size-adjust: auto;
  font-family: 'proxima-nova';
  color: $white;
  padding-top: 1em;
}

.text-subtitle h2:nth-child(2) {
  font-size-adjust: auto;
  font-family: 'proxima-nova';
  color: $white;
  padding-bottom: 1em;
}

.title-fonctionnement h2 {
  font-family: 'proxima-nova';
  font-weight: bold;
  color: $orange;
}

.subtitle-fonctionnement h2 {
  font-family: 'proxima-nova';
  font-weight: bold;
  color: $orange;
}

.subtitle-fonctionnement p {
  font-family: 'proxima-nova';
  font-weight: bold;
  padding-bottom: 1.5em;
}

.title-header-home-page {
  background: rgba(355, 355, 355, 0.5);
  padding: 2em 0;
  margin-top: 2.5em;
}

.title-header-home-page p:first-child {
  font-family: 'antipasto';
  color: #5a5a5a;
  font-size: 1.6em;
}

.title-header-home-page p:last-child {
  font-family: 'antipasto';
  color: #5a5a5a;
  font-size: 1.6em;
}

.categories-title p:first-child {
  font-family: 'antipasto-xlight';
  font-weight: bold;
  font-size: 1.9em;
  color: $white;
  padding-top: 2.5em;
}

.categories-title p:nth-child(2) {
  font-family: 'antipasto-xlight';
  font-size: 1.9em;
  color: $white;
  padding-bottom: 1.1em;
}

.title-choix-fute h2 {
  font-family: "antipasto";
  text-transform: uppercase;
  color: $black;
}

.title-explication-home-page h2 {
  font-family: "antipasto";
  text-transform: uppercase;
  color: $white;
  padding-bottom: 2em;
}

.title-options-home-page h2 {
  font-family: "antipasto";
  font-weight: bold;
  text-transform: uppercase;
  color: $orange;
  padding-bottom: 0.6em;
}
