.title-hero{
  font-family: 'felt';
  font-size: 4em;
  color: #F2971B;
  margin-bottom: 1rem;
}

.title-caution-st h2 {
  font-family: "antipasto";
  font-size: 2rem;
  color: $white;
  padding-bottom: 1.2em;
}

.subtitle-caution-st p {
  font-family: "antipasto";
  font-size: 1.5em;
  color: $white;
  padding-top: 1.2em;
}
