.title-hero{
  font-family: 'felt';
  font-size: 4em;
  color: $orange;
  margin-bottom: 1rem;
}

.title-caution-st h2 {
  font-family: "felt";
  font-size: 3rem;
  color: $orange;
  padding-bottom: 0.9em;
}

.subtitle-caution-st p {
  font-family: "antipasto";
  font-size: 1.5em;
  color: $white;
  padding: 1.2em;
}
