section.section.section-articles
  .container
    .row
      .col.col-md-12.logo-article
        a(href="index.html")
          img(src="img/logo-foncé.png" width="230" height="50")
      .col-12.col-md-12.page-articles
        .row
          .col.col-md-8.offset-md-2.content-article
            h2.title-article.txt-c Rendre son appartement en bon état pour récupérer sa caution : les 10 choses à ne pas oublier !
            h2 Récupérer votre caution !
            p Ça y est : vos cartons sont faits et votre appartement a l’air en bon état. Vous avez pensé aux trous dans les murs, vous avez passé l’aspirateur, vous avez récupéré toutes les clefs et autres carte à rendre, vous avez même enlevé les tâches sur la moquette ! Mais êtes-vous sûrs d’avoir pensé à tout ? Nous vous aidons à repérer les 10 points que tout le monde oublie toujours… et que votre propriétaire ne manquera pas de vérifier ! 
            h3 Les traces sur les murs
            p Oui, vous avez regardé les murs… de loin. Pensez à vérifier le bas des murs de l’entrée, derrière les meubles et convecteurs, dans la cuisine : passe un coup d’éponge, ça ne coûte rien ! Si ça ne suffit pas, il va faudra peut-être penser à passer un coup de peinture. 
            h3 La salle de bains
            p Un joint noirci n’a jamais empêché personne de prendre sa douche mais votre propriétaire a besoin de récupérer un appartement impeccable pour le locataire d’après, c’est la règle du jeu ! Pensez à détartrer la robinetterie, refaire les joints si besoin, enlever la moisissure (vos armes secrètes : le vinaigre blanc et le percarbonate de soude). N’oubliez pas de nettoyer la bonde avec une vieille brosse à dents ! Ça paraît évident, mais on préfère le dire ;)
            h3 La hotte 
            p Elle est tellement discrète que vous pouvez l’avoir oubliée. Pourtant, elle va bien être inspectée lors de l’état des lieux : prenez votre éponge ! Un conseil : vérifiez le type de surface pour éviter de faire des rayures lors du nettoyage.
            h3 Les vitres
            p Laisser passer la lumière ne suffit pas : il faut qu’elles soient impeccables. Un chiffon, du vinaigre blanc et de l’huile de coude feront l’affaire. 
            h3 Les rebords de fenêtre et le balcon
            p Ce sont les grands oubliés du nettoyage ! Pourtant, ils font bien partie de votre logement. Exit les mégots, les tâches, la mousse. Enlevez les tâches de rouille et repassez un coup de peinture si nécessaire. A éviter absolument sous peine d’abîmer le ciment et le béton : l'ammoniaque, les nettoyants acides comme le vinaigre, l’anticalcaire ou la Javel. 
            h3 Le ballon d’eau chaude et la chaudière 
            p Les avez-vous fait réviser récemment ? L’entretien de la chaudière chaque année est une obligation légale pour les locataires.
            h3 La VMC 
            p Repérez les grilles d’aération :  au plafond, ou en haut sur un mur. Démontez puis nettoyez chaque grille une par une avec l’éponge. Rincez puis essuyez soigneusement. N’oubliez pas de passes l’aspirateur à l’entrée des bouches d’aspiration pour enlever les poussières incrustées, puis remontez les grilles. 
            h3 Le réglage des portes et les interrupteurs 
            p Porte intérieures, portes palières, portes de placard : vérifiez qu’il n’y a pas de jeu. Les interrupteurs doivent fonctionner, et être bien fixés au mur.
            h3 Les siphons d’appareils sanitaires
            p Veillez à ce qu’ils soient débouchés et nettoyés. Pour cela, 3 étapes : démonter – nettoyer – remonter. Des questions ? C’est le moment de regarder cette vidéo ! 
            a(href="https://www.youtube.com/watch?v=8yXVZ2JEsCo ")
              p https://www.youtube.com/watch?v=8yXVZ2JEsCo 
            h3 La cave
            p C’est le moment de tout débarrasser et de passer un bon coup de balai ! 
            .col.col-md-12.redirection-article
              h2 D'autres articles qui pourraient vous intéresser :
              a(href="savoir-caution.html")
                p Les 5 choses à savoir sur la caution pour votre appartement.
              a(href="etats-des-lieux.html")
                p Un état des lieux de sortie mal préparé : l’exemple de Simon et Estelle.
              a(href="restitution-caution.html") 
                p Rendre son appartement en bon état pour récupérer sa caution : les 10 choses à ne pas oublier.
