section.section.section-articles
  .container
    .row
      .col.col-md-12.title-articles.txt-c
        h2 Que faut-il faire pour obtenir la restitution de votre caution ?
      .col.col-md-12.content-articles
