section.section.section-articles
  .container
    .row
      .col.col-md-12.title-articles.txt-c
        h2 Que faut-il faire pour obtenir la restitution de votre caution ?
      .col-12.col-md-12.content-articles
        .row
          .col.col-md-8.offset-md-2.content-article-restitution
            h2 Vous avez déménagé et votre propriétaire ne vous a pas encore rendu votre caution ? Que faire ?
            p Tout d’abord, sachez que votre bailleur n’a pas l’obligation de vous rendre votre caution immédiatement après l’état des lieux de sortie : il dispose de deux mois pour vous rendre le dépôt de garantie, à compter de la restitution des clefs.  Par exemple, si vous avez rendus les clés en mains propres le 05 mai 2017, attendez le 05 juillet 2017. Si l'état des lieux de sortie est conforme à l’état des lieux d’entrée, le délai est d’un mois à compter de votre remise des clefs.
            p Si le délai légal est dépassé, nous vous conseillons d’envoyer tout d’abord un courrier simple à votre bailleur. Vous restez sans nouvelles ? Passez à la vitesse supérieure avec un courrier recommandé AR pour rappeler le délai prévu et demander la restitution de votre caution dans un délai raisonnable (8 jours en moyenne). 
            h3 Le saviez vous ?
            p Une fois le délai prévu dépassé, une majoration de 10% du loyer mensuel est applicable pour chaque mois commencé en retard ! Petit détail : vous devez donner votre nouvelle adresse au moment de la remise des clefs : si vous n’avez pas communiqué vos nouvelles coordonnées à votre bailleur, vous ne pourrez pas réclamer ces 10% d’indemnité (article 22 paragraphe 3 de la loi de 1989)
            p Texte officiel de la loi ALUR : 
            p « A défaut de restitution dans les délais prévus, le dépôt de garantie restant dû au locataire est majoré d'une somme égale à 10 % du loyer mensuel en principal, pour chaque période mensuelle commencée en retard. Cette majoration n'est pas due lorsque l'origine du défaut de restitution dans les délais résulte de l'absence de transmission par le locataire de l'adresse de son nouveau domicile. 
            h3 Attention !
            p Votre état des lieux de sortie est impeccable, et votre bailleur ne vous a pas restitué la totalité ?  Lorsque vous quittez le​ ​logement, si les charges sont au réel et que votre bailleur ne dispose pas de l'arrêté annuel des comptes du syndic de copropriété, il peut conserver jusqu'à 20 % du dépôt de garantie dans l'attente de la régularisation annuelle des charges. 
            p Texte officiel de la loi ALUR : 
            p « Lorsque les locaux loués se situent dans un immeuble collectif, le bailleur procède à un arrêté des comptes provisoire et peut, lorsqu'elle est dûment justifiée, conserver une provision ne pouvant excéder 20 % du montant du dépôt de garantie jusqu'à l'arrêté annuel des comptes de l'immeuble. La régularisation définitive et la restitution du solde, déduction faite, le cas échéant, des sommes restant dues au bailleur et des sommes dont celui-ci pourrait être tenu en lieu et place du locataire, sont effectuées dans le mois qui suit l'approbation définitive des comptes de l'immeuble. Toutefois, les parties peuvent amiablement convenir de solder immédiatement l'ensemble des comptes. » 
            p Les lettres que vous avez envoyées n’ont pas eu l’effet escompté auprès de votre propriétaire ?  Pas de panique, la procédure judiciaire n’est pas une obligation ! Vous pouvez recourir gratuitement à la commission de conciliation de votre département (CDC), auprès des services de la préfecture. Le but de cette commission ? Aider les bailleurs et locataire à trouver une solution à l’amiable à leur litige. Bonne nouvelle : 65 % des litiges débouchent sur une conciliation. 
            p Enfin, si toutes vos démarches n’ont pas fonctionné, vous pouvez saisir les tribunaux pour « conservation abusive du dépôt de garantie ». L’objectif : obtenir un jugement d’injonction de payer.  
            p - Si le montant du litige est inférieur ou égal à 4 000 euros, adressez-vous au juge de proximité.
            p - Si le montant du litige est supérieur à 4 000 euros, vous devrez saisir le tribunal d’instance. 
