section.section.section-articles
  .container
    .row
      .col.col-md-12.title-articles.txt-c
        h2 Rendre son appartement en bon état pour récupérer sa caution : les 
          span 10 
          |choses à ne pas oublier !
      .col.col-md-12.content-articles
