section.section.section-articles
  .container
    .row
      .col.col-md-12.title-articles.txt-c
        h2 Tout sur l'état des lieux de sortie
      .col-12.col-md-12.page-articles
        .row
          .col.col-md-8.offset-md-2.content-article
            h2 Un état des lieux de sortie mal préparé : l’exemple de Simon et Estelle
            p Soyez vigilants : un état des lieux de sortie mal préparé peut vous coûter cher ! C’est le cas de Simon et d’Estelle, locataires dans le même logement depuis 6 ans : ils ont hélas négligé la remise en état de leur appartement de 50m², et n’ont pas récupéré leur caution. 880​ ​euros au total, qui auraient pu être utilisés autrement. Analysons leur état des lieux de sortie : les réparations effectuées par leur bailleur à la suite de leur départ, et le tarif détaillé des retenues sur la caution. 
            h3 Les murs : 
            p - 2 carreaux de faïence à remplacer : 20 le premier et 6€ le 2​ème 
            p - Pan entier de mur en papier peint : 155€
            p - 12 trous de cheville à reboucher : 4€ l’unité 
            p - Petite retouche plâtre et peinture : 29€
            h3 L’électricité :
            p - Interrupteur : 22€
            p - Prise de télévision : 26€
            p - Rayure sur convecteur : 25€ 
            h3 Sanitaires : 
            p - Cuvette et pipe entartrés : 38€ 
            p - Fixation cuvette WC : 13€ 
            p - Bouchon évier + chaînette : 20€ 
            p - Flexible de douche : 27€ 
            p - Joint d’étanchéité baignoire : 25€ 
            p - Eclat sur appareil sanitaire : 25€ 
            h3 Plomberie :
            p - Détartrage chauffe-eau : 63€ 
            p - Evacuation évier bouchée : 38€ 
            p Dernier point important : dans la hâte de leur départ, Simon et Estelle ont négligé de nettoyer l’appartement : passer l’aspirateur, nettoyer les vitre et la salle de bains, les rebords de fenêtre, la cave, la cuisine… Leur bailleur a donc fait appel à une société de ménage, avec un forfait de 300 euros pour le nettoyage complet de l’appartement. 
            p Un exemple à éviter, avec un peu d’équipement et beaucoup d’huile de coude ! 
