section.section.section-articles
  .container
    .row    
      .col.col-md-12.logo-article
        a(href="index.html")
          img(src="img/logo-foncé.png" width="230" height="50")
        .row
          .col.col-md-12.page-articles
            .col.col-md-8.offset-md-2.content-article
              h2.title-article.txt-c Les 5 choses a savoir sur votre caution pour votre appartement
              h2 Tout savoir sur la caution !
              h3 Comment est fixé le montant d’une caution ? 
              p Si le logement est la résidence principale du locataire, le montant de la caution est plafonné. Dans le cas d’une location saisonnière ou d’une résidence secondaire, le montant peut être fixé librement par le propriétaire (on parle de « bailleur » dans les textes de loi et dans les contrats).
              p - Pour un logement loué en meublé, la caution est plafonnés à deux mois de loyer hors charges depuis la ​loi Alur du 24 mars 2014. 
              p - Pour un logement est loué non meublé, la caution est plafonnée à un mois de loyer hors charges.
              p Article 22 de la Loi n° 89-462 du 6 juillet 1989 tendant à améliorer les rapports locatifs, modifié par LOI n°2014-366 du 24 mars 2014 - art. 6.
              p « Lorsqu'un dépôt de garantie est prévu par le contrat de location pour garantir l'exécution de ses obligations locatives par le locataire, il ne peut être supérieur à un mois de loyer en principal. Au moment de la signature du bail, le dépôt de garantie est versé au bailleur directement par le locataire ou par l'intermédiaire d'un tiers. » 
              h3 Bon à savoir
              p - Le montant de la caution doit obligatoirement être mentionné dans le contrat de bail. 
              p - En cas de versement en espèces, vous pouvez demander un reçu à votre propriétaire.
              p - Le montant de la caution ne peut pas être modifié en cours ou au renouvellement du bail.
              h3 Quel est le délai de restitution de la caution ?  
              p Votre propriétaire-bailleur dispose de ​deux mois​ pour vous rendre le dépôt de garantie, à compter de la restitution des clefs (en mains propres  ou par lettre recommandée avec demande d'accusé de réception).  Si l'état des lieux de sortie est conforme à l’état des lieux d’entrée, ce délai est réduit à un mois​ à compter de la remise des clés par le locataire.
              p Source : Article 22 de la Loi n° 89-462 du 6 juillet 1989 tendant à améliorer les rapports locatifs, modifié par LOI n°2014-366 du 24 mars 2014 - art. 6.
              h3 Que faire en cas de litige sur la caution avec mon propriétaire ? 
              p Le procès n’est pas une obligation. Vous pouvez recourir à la commission de conciliation de votre département (CDC), auprès des services de la préfecture. Le but de cette commission ? Aider les bailleurs et locataire à trouver une solution à l’amiable à leur litige. En en plus, c’est gratuit ! Cette démarche peut vous éviter les coûts et la longueur d'une procédure judiciaire.
              p Texte officiel de la loi ALUR du 24 mars 2014 :  
              p « Une commission départementale de conciliation composée de représentants d'organisations de bailleurs et d'organisations de locataires, en nombre égal. La commission rend un avis dans le délai de deux mois à compter de sa saisine et s'efforce de concilier les parties. » 
              p « La compétence de la commission porte sur [ … ]Les litiges relatifs à l'état des lieux, au dépôt de garantie, aux charges locatives et aux réparations. » 
              h3 Bon à savoir
              p Si vous n’est pas d’accord avec le document d’état des lieux de sortie, ne le signez pas : votre signature signifie que vous approuvez le document. 
              h3 Qu’est-ce que la vétusté ? 
              p La vétusté concerne les dégradations qui sont dues à  une usure normale du temps et une occupation normale par le locataire : elles sont à la charge du bailleur. Par exemple, une moquette usée au bout de 7 ans de location pourra être remplacée aux frais bu bailleur.
              p La vétusté dépend de l’état initial du logement, de la durée de la location, ou encore de l’entretien réalisé par le locataire.
              p Sauf cas exceptionnel, un propriétaire ne peut pas facturer une valeur à neuf d'un élément à réparer au locataire : il doit appliquer un coefficient de vétusté en fonction du nombre d'années pendant lesquelles le locataire est resté dans le logement.
              p L’article 42 de la loi du 23 décembre 1986​ permet la mise en place de grilles de vétusté entre locataire et bailleur. Cette grille peut prévoir de manière forfaitaire : une durée de vie des équipements, une durée de franchise (par exemple : 7 ans pour une moquette). 
              p La loi Alur du 24 mars 2014 avait prévu une grille de vétusté officielle, mais hélas, le décret du 31 mars 2016 et entré en vigueur le 1er juin, n’en propose pas : c’est au bailleur et au locataire de se mettre d’accord sur une grille validée par un accord collectif. Faites attention, car sans cette grille de référence, les retenues sur le dépôt de garantie ne sont pas plafonnées et les coefficients à appliquer restent flous… 
              h3 Le propriétaire doit-il fournir une facture pour justifier la retenue sur la caution ? 
              p Le bailleur a l’obligation de fournir des justificatifs afin de justifier le montant qu’il retient sur la caution selon l'article 22 de la loi du 6 juillet 1989. Il n’est pas tenu de communiquer une facture, un                    simple devis peut suffire aux yeux des tribunaux : en effet, certains bailleurs réalisent les travaux               eux-mêmes. Attention toutefois : la retenue sur le dépôt de garantie est conditionnée à la réalisation               effective des réparations locatives ou à la diminution du loyer en conséquence. Il doit bien y avoir un préjudice subi pour que le bailleur conserve la caution. 
              .col.col-md-12.redirection-article
                h2 D'autres articles qui pourraient vous intéresser :
                a(href="recuperer-caution.html")
                  p Vous avez déménagé et votre propriétaire ne vous a pas encore rendu votre caution ? Que faire ?
                a(href="etats-des-lieux.html")
                  p Un état des lieux de sortie mal préparé : l’exemple de Simon et Estelle.
                a(href="restitution-caution.html") 
                  p Rendre son appartement en bon état pour récupérer sa caution : les 10 choses à ne pas oublier.
