section.section.section-avis-clients
  .container
    .row
      .col.col-md-12.m-auto
        #carouselExampleControls.carousel.slide(data-ride='carousel')
          .carousel-inner(role='listbox')
            .carousel-item.active
              .col.col-md-6.offset-md-30.m-auto.avis
                img(src="img/avatar2.png" alt="avatar-client" width="90" height="90").img-avatar
                p Avec un peu d'huile de coude, j'ai récupérée ma caution en entier et m'acheter un canapé neuf pour mon nouvel appart ! merci pour les conseils :)
                p Samantha D.
            .carousel-item
              .col.col-md-6.offset-md-30.m-auto.avis
                img(src="img/avatar1.png" alt="avatar-client" width="90" height="90").img-avatar
                p J'ai adoré le système de compteur, cela nous permet d'en savoir un peu plus sur notre état des lieux de sortie.
                p Philip V.
          a.carousel-control-prev(href='#carouselExampleControls', role='button', data-slide='prev')
            span.carousel-control-prev-icon(aria-hidden='true')
            span.sr-only Previous
          a.carousel-control-next(href='#carouselExampleControls', role='button', data-slide='next')
            span.carousel-control-next-icon(aria-hidden='true')
            span.sr-only Next
