section.section.section-avis-clients
  .container
    .row
      .col.col-md-12
        img(src="img/avatar.png").img-avatar
      .col.col-md-6.offset-md-3.avis-laura
        p Avec un peu d'huile de coude, j'ai récupérée ma caution en entier et m'acheter un canapé neuf pour mon nouvel appart ! merci pour les conseils :)
      .col.col-md-2.offset-md-5.nom-client
        p Laura D.
