section.section.section-avis-clients
  .container
    .row
      .col.col-md-12.m-auto
        #carouselExampleControls.carousel.slide(data-ride='carousel')
          .carousel-inner(role='listbox')
            .carousel-item.active
              .col.col-md-6.offset-md-30.m-auto.avis-laura
                img(src="img/avatar.png" alt="avatar-client").img-avatar
                p Avec un peu d'huile de coude, j'ai récupérée ma caution en entier et m'acheter un canapé neuf pour mon nouvel appart ! merci pour les conseils :)
                p Laura D.
            .carousel-item
              .col.col-md-6.offset-md-30.m-auto.avis-laura
                img(src="img/avatar.png" alt="avatar-client").img-avatar
                p Avec un peu d'huile de coude, j'ai récupérée ma caution en entier et m'acheter un canapé neuf pour mon nouvel appart ! merci pour les conseils :)
                p Laura D.
            .carousel-item
              .col.col-md-6.offset-md-30.m-auto.avis-laura
                img(src="img/avatar.png" alt="avatar-client").img-avatar
                p Avec un peu d'huile de coude, j'ai récupérée ma caution en entier et m'acheter un canapé neuf pour mon nouvel appart ! merci pour les conseils :)
                p Laura D.
          a.carousel-control-prev(href='#carouselExampleControls', role='button', data-slide='prev')
            span.carousel-control-prev-icon(aria-hidden='true')
            span.sr-only Previous
          a.carousel-control-next(href='#carouselExampleControls', role='button', data-slide='next')
            span.carousel-control-next-icon(aria-hidden='true')
            span.sr-only Next
