section.section.section-categories
  .container
    .row
      .col.col-md-12.categories-title.txt-c
        p Récupérer votre caution
        p Vos conseils personnalisés et gratuits en une minute chrono.
        a(href="caution.html")
          button.btn.button-hero Sauver ma caution
