section.section.section-choix-fute
  .container
    .row
      .col.col-md-12.txt-c.title-choix-fute
        h2 Devenez un déménageur encore plus futé !
  .choix-fute
    .choix-img
      img.m-auto(src="../img/choix-cartons.png" alt="")
    .choix-img
      img.m-auto(src="../img/choix-energie.png" alt="")
    .choix-img
      img.m-auto(src="../img/choix-camions.png" alt="")
    .choix-img
      img.m-auto(src="../img/choix-travaux.png" alt="")
    .choix-img
      img.m-auto(src="../img/choix-pro.png" alt="")
