section.section.section-choix-fute
  .container
    .row
      .col.col-md-12.txt-c.title-choix-fute
        h2 Devenez un déménageur encore plus futé !
  .choix-fute
    .choix-img.txt-c
      img.m-auto(src="../img/choix-cartons.png" alt="")
      p 
        strong Les cartons 
      p vos cartons pas cher
    .choix-img.txt-c
      img.m-auto(src="../img/choix-energie.png" alt="")
      p
        strong L'énergie
      p Trouvez le meilleur deal
    .choix-img.txt-c
      img.m-auto(src="../img/choix-camions.png" alt="")
      p.camion-color
        strong Le camion
      p.camion-color Louez moins cher 
    .choix-img.txt-c
      img.m-auto(src="../img/choix-travaux.png" alt="")
      p
        strong Les travaux 
      p Sauvez votre budget 
    .choix-img.txt-c
      img.m-auto(src="../img/choix-pro.png" alt="")
      p.prochainement-color
        strong Déménager avec un pro
      p.prochainement-color prochainement disponible !
