section.section.section-choix-fute
  .container
    .row
      .col.col-md-12.txt-c.title-choix-fute
        h2 Devenez un déménageur encore plus futé !
      .col.col-md-10.offset-md-1.choix-fute
        .col.col-md-5.choix-img.txt-c
          img.m-auto(src="../img/choix-cartons.png" alt="cartons demenageur futé")
          p.prochainement-color 
            strong Les cartons 
          p.prochainement-color Prochainement disponible !
        .col.col-md-5.choix-img.txt-c
          a(href="caution.html")
            img.m-auto(src="../img/choix-travaux.png" alt="travaux demenageur futé")
          p
            strong Les cautions 
          p Sauvez votre budget 
      
