section.section.section-electricite-st
  .container
    .row
      .col.col-md-8.offset-md-2.elec
        .row
          .col.col-md-6.txt-c.elec-st
            .content-elec
               img(src="img/electicité-img.png" alt="electricté" width="384px" height="64px")
               h2 L'éléctricité
               p L'éléctricité est defectueuse ? voici nos sous thèmes pour vous aider !
               p.m-auto Selectionnez les sous thèmes où vous rencontrez un problème.
          .col.col-md-4.offset-md-1.liste-st-elec
            ul 
              li
                input.input-st(type="checkbox")
                p Prise de courant
              li 
                input.input-st(type="checkbox")
                p Ampoules
              li 
                input.input-st(type="checkbox")
                p Convecteur
