section.section.section-electricite-st
  .conatiner
    .row
      .col.col-md-6.offset-md-3.txt-c.title-elec-st
         h2 Electricité
  .div-elec
    .sous-theme-elec.txt-c
      p Prise de courant en mauvais état
      img(src="" alt="Prise de courant en mauvais état")
      input(type="checkbox")
    .sous-theme-elec.txt-c
      p Ampoules
      img(src="" alt="Ampoules")
      input(type="checkbox")
    .sous-theme-elec.txt-c
      p Convecteur
      img(src="" alt="Convecteur")
      input(type="checkbox")
