section.section.section-elec-resultats
  .container
    .row
      .col.col-md-8.offset-md-2.content-elec-resultats
        img(src="img/electicité-img.png")
        h2 Electricité
        h3 Prises de courant qui ne fonctionnent plus
        p Une prise murale qui ne fonctionne plus peut vous coûter 
          span 16 €  
          | l’unité minimum ! Changez votre prise murale vous-même à moindre  coût, ou faites appel à un ami…
        a(href="#")
          button.btn.buttons.button-resultats Voir le produit
        h3 Ampoule
        p Une ampoule à changer, et votre propriétaire vous facturera environ 
          span 5 € 
          | par ampoule. Faites attention à bien vérifier que toutes vos ampoules fonctionnent.
        a(href="#")
          button.btn.buttons.button-resultats Voir le produit
        .col.col-md-8.content-produits
          h3 Convecteur
          .infor
              p i
        p Le saviez-vous ? Votre propriétaire peut vous facturer minimum 
          span 95 € 
          | pour un nouveau convecteur… Un mot d’ordre : An-ti-ci-per. Changez-le s’il est en mauvais état, votre caution vous dira merci !
        a(href="#")
          button.btn.buttons.button-resultats Voir le produit
