section.section.section-explication-home-page
  .container
    .row
      .col.col-md-12.txt-c.title-explication-home-page
        h2 Déménageur futé c'est ...
      .col.col-md-12.explication-home-page
        .col.col-md-3.m-auto
          img(src="../img/utilisateurs.png" alt="")
        .col.col-md-3.m-auto
          img(src="../img/cautions.png" alt="")
        .col.col-md-3.m-auto
          img(src="../img/cartons.png" alt="")
        .col.col-md-3.m-auto
          img(src="../img/camions.png" alt="")
      .col.col-md-12.text-explication-home-page
        .col.col-md-3.txt-c
          p 200 000 utilisateurs
        .col.col-md-3.txt-c
          p 10 000 cautions sauvés
        .col.col-md-3.txt-c
          p 55 000 cartons vendus 
        .col.col-md-3.txt-c
          p 25 000 camions loués
