section.section.section-explication-home-page
  .container
    .row
      .col.col-md-12.txt-c.title-explication-home-page
        h2 Déménageur futé c'est ...
      .col.col-md-12.explication-home-page
        .col.col-md-3.m-auto
          img(src="../img/utilisateurs.png" alt="utilisateurs futé")
        .col.col-md-3.m-auto
          img(src="../img/cautions.png" alt="caution futé")
        .col.col-md-3.m-auto
          img(src="../img/cartons.png" alt="cartons futé")
        .col.col-md-3.m-auto
          img(src="../img/camions.png" alt="camions futé")
      .col.col-md-12.text-explication-home-page
        .col.col-md-3.txt-c
          p 1842 utilisateurs
        .col.col-md-3.txt-c
          p 1200 cautions sauvés
        .col.col-md-3.txt-c
          p prochainement prêt à emballer
        .col.col-md-3.txt-c
          p prochainement à louer
