section.section.section-explication
  .container
    .row
      .col.col-md-12.title-explication
        h2 À propos de démenageur futé
      .col.col-md-12.div-explication-ico
        .col.col-md-3
          img(src="img/utilisateur-caution.png").ico
        .col.col-md-3
          img(src="img/conseils.png").ico
        .col.col-md-3
          img(src="img/eco-moy.png").ico
        .col.col-md-3
          img(src="img/eco-max.png").ico
      .col.col-md-12.div-explication-text
        .col.col-md-3.utilisateurs
          p 200 000
          p utilisateurs
        .col.col-md-3.conseils
          p 450 000
          p conseils
        .col.col-md-3.eco-moy
          p 450 €
          p Montant moyen économisés
        .col.col-md-3.eco-max
          p 890 €
          p Plus grosse économie
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        //- .col.col-xs-4
        //-   .round-design
        //-   .line-design
        //-   p.txt-c 
        //-     strong |200 000 utilisateurs
        //-     |avant vous
        //- .col.col-xs-4
        //-   .round-design
        //-   .line-design
        //-   p.txt-c 
        //-     strong |450 000 conseils
        //-     |donnes
        //- .col.col-xs-4
        //-   .round-design
        //-   .line-design
        //-   p.txt-c 
        //-     |montant moyen des
        //-     strong |economies : 400 €
        //- .col.col-xs-4
        //-   .round-design
        //-   .line-design
        //-   p.txt-c 
        //-     |plus grosse
        //-     strong |economies : 890 €
