section.section.section-fonctionnement
  .container
    .row
      .col.col-md-8.offset-md-2.txt-c.title-fonctionnement
        h2 Comment ça marche ?
      .col.col-md-12.txt-c.explication-fonctionnement
        .col.col-md-4.first-fonctionnement
          h1.m-auto 1
        .col.col-md-4.second-fonctionnement
          h1.m-auto 2
        .col.col-md-4.third-fonctionnement
          h1.m-auto 3
      .col.col-md-12.txt-c.text-fonctionnement
        .col.col-md-4
          p.txt-c Vous indiques les endroits où votre logement nécessite une remise en état.
        .col.col-md-4
          p.txt-c Nous estimons le montant que votre propriétaire pourrait vous reclamer.
        .col.col-md-4
          p.txt-c Nous vous donnons des conseils personnalisés pour vous aider à récupérer la totalité de votre caution.
      .col.col-md-12.txt-c.subtitle-fonctionnement
        h2 Estimez le montant que votre proprietaire pourrait vous réclamer 
        p Selectionnez les endroits qui necessitent une remise en état
  .fonctionnement
    .txt-c.img-fonctionnement
      p Murs/Fenêtres
      img(src="../img/murs.png" alt="murs futé")
      input(type="checkbox").input
    .txt-c.img-fonctionnement
      p Sanitaires/Cuisine
      img(src="../img/sanitaires.png" alt="sanitaires futé")
      input(type="checkbox").input
    .txt-c.img-fonctionnement
      p Les sols
      img(src="../img/sols.png" alt="sols futé")
      input(type="checkbox").input
    .txt-c.img-fonctionnement
      p(style="max-height:20px;") Meubles / Eléctroménager
      img(src="../img/cuisine.png" alt="electroménager futé")
      input(type="checkbox").input
    .txt-c.img-fonctionnement
      p Eléctricité
      img(src="../img/elec.png" alt="electicité futé")
      input(type="checkbox").input
  .container
    .row
      .col.col-md-8.offset-md-2
        a(href="caution-st.html")
          button.btn.m-auto.btn-primary.buttons Calculer le montant
    
