footer.footer-home
  .container
    .row
      .col.col-md-12
        img(src="../img/logo-foncé.png").logo-footer
  .col.col-md-12.bg-style
    .col.col-md-6.offset-md-3.reseaux
      p Suivez nous !
      a
        img(src="img/twitter.png")
      a
        img(src="img/facebook.png")
  .col.col-md-12.copyright
    p Copyright © 2017 Déménageur Futé |
    a(href="#") 
      p Informations |
    a(href="#") 
      p Mentions légales |
    a(href="#") 
      p Nous contacter
