footer.footer-home
  .container
    .row
      .col.col-md-12
        img(src="img/logo-foncé.png" alt="logo Déménageur Futé").logo-footer
  .col.col-md-12.bg-style
    .col.col-md-6.offset-md-3.reseaux
      p Suivez nous !
      a(href="https://twitter.com/DemenageurFute")
        img(src="img/twitter.png" alt="Déménageur Futé twitter" width="50" height="50")
      a(href="https://www.facebook.com/D%C3%A9m%C3%A9nageur-fut%C3%A9-1921714388045014/")
        img(src="img/facebook.png" alt="Déménageur Futé Facebook" width="50" height="50")
      a(href="#")
        img(src="img/instagram.png" alt="Déménageur Futé instagram" width="50" height="50")
  .col.col-md-12.copyright
    p Copyright © Déménageur Futé |
    a(href="mentions-legales.html") 
      p Mentions légales |
    a(href="#") 
      p Nous contacter
