.hero-home-page
  nav.navbar.navbar-toggleable-md.navbar-light.bg-faded
    button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    a.navbar-brand(href='#') 
      img(src="../img/logo-clair.png" width="230" height="50")
    #navbarSupportedContent.collapse.navbar-collapse   
  .container
    .row        
      .col.col-md-12.txt-c.title-header-home-page
        p Déménager, ça coûte toujours plus cher que prévu !
        p Avec Déménageur Futé, sauvez votre budget et faites des économies sur votre déménagement.
