.hero-home-page
  .container
    .row 
      .col.col-md-12.logo-header-home-page
        img.m-auto(src="../img/logo-clair.png" alt="logo Déménageur Futé" width="230" height="50")
      .col.col-md-12.txt-c.title-header-home-page
        p Déménager, ça coûte toujours plus cher que prévu !
        p Avec Déménageur Futé, sauvez votre budget et faites des économies sur votre déménagement.
