.hero
  nav.navbar.navbar-light.bg-faded
    a.navbar-brand(href='/')
      img(src='img/logo-foncé.png', width='230', height='50', alt='')
    section.section.hero-top
      .container
        .row
          .col.col-md-8.offset-md-2.txt-c.text-subtitle
            h1.title-hero Sauvez votre caution !
          .col.col-md-2.offset-md-5
            .compteur
              .compteur-prix
                h1 4
              .compteur-prix
                h1 5
              .compteur-prix
                h1 0
              .compteur-monnaie
                h1 €
          .col.col-md-8.offset-md-2.txt-c.text-subtitle
            h2 Grâce à Déménageur Futé, Julien a récupéré toute sa caution et économisé 450€ !
            h2 Vous aussi, découvrez vos conseils personnalisés et gratuits en 1 min chrono.
            button.btn.btn-primary.button-hero Calculer le montant
      
            
