.hero-caution-st  
  nav.navbar.navbar-light.bg-faded
    a.navbar-brand(href='/')
      img(src='img/logo-foncé.png' width='230' height='50' alt='logo Déménageur Futé')
    section.section.section-hero-caution-st
      .container
        .row
            .col.col-md-8.offset-md-2.txt-c.title-caution-st
              h2 Voici ce que peut Réclamer votre propriétaire :
            .col.col-md-2.offset-md-5
              .compteur
                .compteur-prix
                  h1 1
                .compteur-prix
                  h1 2
                .compteur-prix
                  h1 0
                .compteur-monnaie
                  h1 €
            .col.col-md-6.offset-md-3.txt-c.subtitle-caution-st
              p Selectionne le ou les conseils dont tu as besoin et regarde ce que tu vas économiser !
