section.section.section-hero-resultats
  a(href='index.html')
    img(src="img/logo-foncé.png" width='280' height='50' alt='logo Déménageur Futé')
  .container
    .row
      .col.col-md-8.offset-md-2.txt-c.title-hero-resultats
        h2 Nos conseils pour sauvez votre caution ! 
      .col.col-md-8.offset-md-2.schema-economie.txt-c
        h3
          span 120€ 
          |ce que peut réclamer votre propriétaire.
        h3
          span 30€ 
          |ce que vous payez grâce à nos conseils.
        h3 
          span 90€ 
          |ce que vous économisez.
      .col.col-md-6.offset-md-3.txt-c
        a(href="#conseils-resultats")
          button.btn.button-hero.button-res Voir nos conseils
        
