section.section.section-hero-resultats
  a(href='index.html')
    img(src="img/logo-foncé.png" width='280' height='50' alt='logo Déménageur Futé')
  .container
    .row
      .col.col-md-12.title-hero-resultats.txt-c
        h2 Nos conseils pour sauvez votre caution ! 
      .col.col-md-8.offset-md-2.content-conseils.txt-c
        h2 Grâce à nos conseils, Vous économisez donc 
          span 90€
          | !
      .col.col-md-8.offset-md-2.txt-c
        a(href="#conseils-resultats")
          button.btn.button-hero.button-res Voir nos conseils
        
