section.section.section-hero-home-page
  .container
    .row 
      .col.col-md-8.offset-md-2
        img.m-auto(src="img/logo-home-page.png" witdh="300px" height="150px")
      .col.col-md-12.txt-c.title-header-home-page
        p Déménager, ça coûte toujours plus cher que prévu !
        p Avec Déménageur Futé, sauvez votre budget et faites des économies sur votre déménagement.
      .col.col-md-12.caroussel
        .col.col-md-8.offset-md-2.categories-title.txt-c
          p Récupérer votre caution
          p Vos conseils personnalisés et gratuits en une minute chrono.
          a(href="caution.html")
            button.btn.button-hero Sauver ma caution
