.hero
    nav.navbar.navbar-light.bg-faded
      .container
        a.navbar-brand(href='#')
          img(src='../img/LOGO_DEMENAGEUR-FUTE.png', width='230', height='50', alt='')
    section.section.hero-top
      .container
        .row
          .col.col-md-8.offset-md-2.txt-c
            h1.title-hero Sauvez votre caution !
            .hero-subtitle
              p vous aussi récuperez votre caution en dépensant le moins possible:
              p vos conseils personalisés & gratuits en une minute chrono !
          .col.col-md-8.offset-md-2.exemple-container
            .exemple-content
              .exemple-prix
                h1 450€
              .exemple-explication
                p Le montant des économies réalisés
                p 
                  strong Mohammed a récupéré sa caution !
            
