.hero
    nav.navbar.navbar-light.bg-faded
      .container
        a.navbar-brand(href='#')
          img(src='../img/LOGO_DEMENAGEUR-FUTE.png', width='230', height='50', alt='')
    section.section.hero-top
      .container
        .row
          .col.col-md-8.offset-md-2.txt-c
            h1.title-hero Sauvez votre caution !
            .hero-subtitle
              p vous aussi récuperez votre caution en dépensant le moins possible:
              p vos conseils personalisés & gratuits en une minute chrono !
          .col.col-md-8.offset-md-2.exemple-container
            .exemple-content
              .exemple-prix
                h1 450€
              .exemple-explication
                p Le montant des économies réalisées.
                p 
                  strong Mohamed a récupéré sa caution !
          .col.col-md-4.round-text
            .first
              h1 1
            p Vous indiquez les endroits où votre logement nécessite une remise en état.
          .col.col-md-4.round-text
            .second
              h1 2
            p Nous estimons que votre propriétaire pourrait vous réclamer.
          .col.col-md-4.round-text
            .third
              h1 3
            p Nous vous donnons des conseils personnalisés.
      .col.col-md-10.hero-bottom
        h2.titre-probleme Où rencontrez-vous des problèmes ?
        .col.col-md-12.problem
          .col.col-md-2.txt-c.img
            p Les murs
            img(src="../img/murs.png")
            input(type="checkbox").input
          .col.col-md-2.txt-c.img
            p Les sanitaires
            img(src="../img/sanitaires.png")
            input(type="checkbox").input
          .col.col-md-2.txt-c.img
            p Les sols
            img(src="../img/sols.png")
            input(type="checkbox").input
          .col.col-md-2.txt-c.img
            p L'éléctricté
            img(src="../img/elec.png")
            input(type="checkbox").input
          .col.col-md-2.txt-c.img
            p La cuisine
            img(src="../img/cuisine.png")
            input(type="checkbox").input
          .col.col-md-2.txt-c.img
            p La serrurerie
            img(src="../img/serrurerie.png")
            input(type="checkbox").input
        .col.col-md-12.button
          button.button-valider Valider ma selection
            
