section.section.section-meubles-resultats
  .container
    .row
      .col.col-md-8.offset-md-2.content-meubles-resultats
        img(src="img/meubles-img.png")
        h2 Meubles & electroménagers
        .col.col-md-8.content-produits
          h3 Meubles en bois abimés
          .infor
            p i
        p Ce serait dommage de laisser votre propriétaire vous facturer un nouveau meuble… Une astuce simple économique : nettoyez vos meubles en bois à l’aide d’un mélange d’huile d’olive et de citron, les petites rayures disparaîtront. Pensez au site Leboncoin si vous avez besoin de remplacer un meuble, ce sera toujours moins cher !
        a(href="#")
          button.btn.buttons.button-resultats Voir le produit
        .col.col-md-8.content-produits
          h3 Eléctroménager
          .infor
            p i
        p Rien ne vaut une réparation et un nettoyage au vinaigre blanc ! Vous n’êtes pas bricoleur ? Rendez-vous sur Leboncoin pour remplacer les appareils à petit prix, plutôt que de laisser votre propriétaire vous présenter le devis d’un appareil tout neuf.
        a(href="#")
          button.btn.buttons.button-resultats Voir le produit
        .col.col-md-8.content-produits
          h3 Canapé en tissu
          .infor
            p i
        p Nettoyez votre canapé en tissu à l’aide de cristaux de soude et d’eau chaude. Suivez ce tuto en cas de tâches tenaces. Si votre canapé est en très mauvais état, n’hésitez pas à en acheter un d’occasion sur Leboncoin.
        a(href="#")
          button.btn.buttons.button-resultats Voir le produit
        .col.col-md-8.content-produits
          h3 Literie
          .infor
            p i
        p Nettoyez votre literie à moindre coût avec des cristaux de soudes et de l’eau chaude. De l’ammoniaque (à utiliser avec précaution) ou du vinaigre blanc peuvent aussi faire l’affaire. Si vous n’arrivez pas à récupérer votre literie, rendez-vous sur Leboncoin pour la remplacer à prix réduit !
        a(href="#")
          button.btn.buttons.button-resultats Voir le produit
