section.section.section-meubles-electromenagers-st
  .conatiner
    .row
      .col.col-md-6.offset-md-3.txt-c.title-meubles-st
         h2 Meubles / Electroménagers 
  .div-meubles
    .sous-theme-meubles.txt-c
      p Meubles en bois abimés
      img(src="" alt="Meubles en bois abimés")
      input(type="checkbox")
    .sous-theme-meubles.txt-c
      p Electroménagers en mauvais état
      img(src="" alt="Electroménagers en mauvais état")
      input(type="checkbox")
    .sous-theme-meubles.txt-c
      p Canapé/fauteuil en mauvais état
      img(src="" alt="Canapé/fauteuil en mauvais état")
      input(type="checkbox")
    .sous-theme-meubles.txt-c
      p Literie en mauvais état
      img(src="" alt="Literie en mauvais état")
      input(type="checkbox")
    .sous-theme-meubles.txt-c
      //- à griser
      p Vaisselles
      img(src="" alt="Vaisselles")
      input(type="checkbox")
