section.section.section-meubles-electromenagers-st
  .container
    .row
      .col.col-md-8.offset-md-2.meubles
        .row
          .col.col-md-6.txt-c.meubles-st
            .content-meubles
               img(src="" alt="meubles et electromenagers")
               h2 Meubles et électroménager
               p L'electroménager où les meubles sont abimés ? voici nos sous thèmes pour vous aider !
               p.m-auto Selectionnez les sous thèmes où vous rencontrez un problème.
          .col.col-md-4.offset-md-1.liste-st-meubles
            ul 
              li
                input.input-st(type="checkbox")
                p Meubles en bois
              li 
                input.input-st(type="checkbox")
                p Electroménager
              li 
                input.input-st(type="checkbox")
                p Canapé/Fautueil
              li 
                input.input-st(type="checkbox")
                p Literie
