section.section.section-murs-fenetres-st
  .container
    .row
      .col.col-md-6.offset-md-3.txt-c.title-murs-st
         h2 murs / fenêtres
  .div-murs
    .sous-theme-murs.txt-c
      p Murs sales
      img(src="" alt="murs sales")
      input(type="checkbox")
    .sous-theme-murs.txt-c
      p Trous dans les murs 
      img(src="" alt="Trous dans les murs")
      input(type="checkbox")
    .sous-theme-murs.txt-c
      p Volets cassés
      img(src="" alt="Volets cassés")
      input(type="checkbox")
    .sous-theme-murs.txt-c
      p Vitres sales
      img(src="" alt="citre sales")
      input(type="checkbox")
    
