section.section.section-murs-fenetres-st#mursFenetres
  .container
    .row
      .col.col-md-8.offset-md-2.murs-fenetres
        .row
          .col.col-md-6.txt-c.murs-st
            .content-murs
              img(src="img/murs-img.png" alt="murs et fenêtres" width="384px" height="64px")
              h2 Murs et fenêtres
              p Les murs ou les fenêtres sont abimés ? voici nos sous thèmes pour vous aider !
              p.m-auto Selectionnez les sous thèmes ou vous rencontrez un problème.
          .col.col-md-4.offset-md-1.liste-st-murs
            ul 
              li
                input.input-st(type="checkbox")
                p Murs sales
              li 
                input.input-st(type="checkbox")
                p Trous dans les murs
              li 
                input.input-st(type="checkbox")
                p Volets cassés
              li 
                input.input-st(type="checkbox")
                p Vitres sales
