section.section.section-murs-fenetres-st
  .container
    .row
      .col.col-md-6.offset-md-3.txt-c.title-st
         h2 murs / fenêtres
  .div-murs
    .sous-theme-murs.txt-c
      p murs sales
      img(src="" alt="murs sales")
      input(type="checkbox")
    .sous-theme-murs.txt-c
      p peintures sales
      img(src="" alt="peintures sales")
      input(type="checkbox")
    .sous-theme-murs.txt-c
      p papiers peints abimés
      img(src="" alt="papiers peints abimés")
      input(type="checkbox")
    .sous-theme-murs.txt-c
      p trous dans les murs
      img(src="" alt="trous dans les murs")
      input(type="checkbox")
    .sous-theme-murs.txt-c
      p faïence cassées
      img(src="" alt="faïence cassées")
      input(type="checkbox")
    
