section.section.section-murs-fenetres-resultats#conseils-resultats
  .container
    .row
      .col.col-md-8.offset-md-2.content-murs-resultats
        img(src="img/murs-img.png")
        h2 Murs & Fenetres
        h3 Murs sales
        p Traces de graisse, de crayon, de boisson ou murs noircis par un radiateur : ne négligez pas de nettoyer vos murs. Votre bailleur pourrait faire appel à des nettoyeurs professionnels et vous présenter un devis plutôt salé… Lessivez vos murs et, si nécessaire, équipez-vous d’une gomme magique et passez à l’action !
        a(href="#")
          button.btn.buttons.button-resultats Voir le produit    
        h4 &#9733    
        h3 Trous dans les murs
        p Saviez-vous que votre propriétaire peut vous retirer 
          span 10€ 
          |minimum par trou sur votre caution ? A multiplier par le nombre de trous sur vos murs… A ce prix-là, autant les reboucher vous-même ! Certains utilisent du dentifrice blanc ou de la craie blanche, vous pouvez également utiliser de l’enduit. Notre conseil : faites-le à l’avance pour ne pas être pris au dépourvu le jour du départ.
        a(href="#")
          button.btn.buttons.button-resultats Voir le produit
        h4 &#9733
        h3 Vitres sales
        p Ça paraît évident, mais on préfère le dire : évitez à votre caution le coût d’une société de nettoyage.  Utilisez plutôt du vinaigre blanc pour faire briller vos vitres !
        a(href="#")
          button.btn.buttons.button-resultats Voir le produit
        h4 &#9733
