section.section.section-options-home-page
  .container
    .row
      .col.col-md-12.txt-c.title-options-home-page
        h2 Découvrez nos conseils pour déménager en toute sérénité
        p Vous avez des questions sur la caution ? Voici des articles qui peuvent vous intéresser :
      .col.col-md-8.offset-md-2.container-docs
        .row
          .col.col-md-6.content-docs
            a(href="savoir-caution.html")
              .docs-block(href="savoir-caution.html").m-auto.txt-c
                img(src="img/img-savoir-caution.png" width="150" height="150")
                h2 Tout savoir sur la caution
          .col.col-md-6.content-docs
            a(href="etats-des-lieux.html")
              .docs-block.m-auto.txt-c
                img(src="img/img-savoir-caution.png" width="150" height="150")
                h2 Tout sur l'état des lieux
      .col.col-md-6.offset-md-3.pad
        button.btn.buttons.m-auto Avez vous des questions ?
