section.section.section-options-home-page
  .container
    .row
      .col.col-md-12.txt-c.title-options-home-page
        h2 Découvrez nos conseils pour déménager en toute sérénité
        p Vous avez des questions sur la caution ? Voici des articles qui peuvent vous intéresser :
        a(href="#")
          p Comment comparer les devis des déméngeurs professionnels ?
        a(href="#")
          p Vous déménagez ? ce que vous devez savoir sur l'état des lieux de sortie.
        button.btn.buttons.m-auto Avez vous des questions ?
