section.section.section-options-home-page
  .container
    .row
      .col.col-md-12.txt-c.title-options-home-page
        h2 Découvrez nos conseils pour déménager en toute sérénité
        p Vous avez des questions sur la caution ? Voici des articles qui peuvent vous intéresser :
        a(href="savoir-caution.html")
          p Les 5 choses à savoir sur la caution pour votre appartement.
        a(href="medias/etat_des_lieux.pdf")
          p Vous déménagez ? ce que vous devez savoir sur l'état des lieux de sortie.
        a(href="medias/bareme_rl2016.pdf")
          p Barèmes des réparations locatives (année 2016)
      .col.col-md-6.offset-md-3.pad
        button.btn.buttons.m-auto Avez vous des questions ?
