section.section.section-problem
  .container
    .row
      .col.col-md-12.title-problem
        h2 Le saviez vous ?
      .col.col-md-8.offset-md-2.text-savoir
        p 
          strong Si l'état à des lieux d'entrée et de sortie est correctement réalisé et que le préjudice est supérieur au montant de la caution,  votre propriétaire est en droit de vous réclamez le surplus.
      .col.col-md-12.question
        p 
          strong Vous avez des questions sur la caution ? Voici des articles qui peuvent vous intéresser:
      .col.col-md-8.offset-md-2.container-docs
        .row
          .col.col-md-6.content-docs
            a(href="restitution-caution.html")
              .docs-block(href="savoir-caution.html").m-auto.txt-c
                img(src="img/img-savoir-caution.png" width="150" height="150")
                h2 La restitution de caution
          .col.col-md-6.content-docs
            a(href="recuperer-caution.html")
              .docs-block.m-auto.txt-c
                img(src="img/img-savoir-caution.png" width="150" height="150")
                h2 Récupérer sa caution
      .col.col-md-4.offset-md-4
        button.btn.m-auto.btn-primary.buttons Avez vous des questions ?
      
