section.section.section-problem
  .container
    .row
      .col.col-md-12.title-problem
        h2 Le saviez vous ?
      .col.col-md-8.offset-md-2.text-savoir
        p 
          strong Si l'état à des lieux d'entrée et de sortie est correctement réalisé et que le préjudice est supérieur au montant de la caution,  votre propriétaire est en droit de vous réclamez le surplus.
      .col.col-md-12.question
        p 
          strong Vous avez des questions sur la caution ? Voici des articles qui peuvent vous intéresser:
      .col.col-md-8.offset-md-2.liens-docs
        a(href="medias/restitution-caution.pdf") Déménagement en vue ? Que faut-il faire pour obtenir la restitution de votre caution ?
        a(href="medias/recuperer_sa_caution.pdf") Vous êtes locataire de votre appartement ? les règles à connaître en matière de caution
        a(href="medias/Accord collectif EDL_2.pdf") Accord collectif relatif à la procédure d'établissement des états des lieux.
        a(href="medias/grille-de-vetuste.pdf") Tout savoir sur la vetusté !
      .col.col-md-4.offset-md-4
        button.btn.m-auto.btn-primary.buttons Avez vous des questions ?
      
