section.section.section-sanitaires-cuisine-st
  .conatiner
    .row
      .col.col-md-6.offset-md-3.txt-c.title-sanitaire-st
         h2 Sanitaires / Cuisines
  .div-sanitaire
    .sous-theme-sanitaire.txt-c
      p tartres / Calcaires
      img(src="" alt="tartres/Calcaires/Moisissures")
      input(type="checkbox")
    .sous-theme-sanitaire.txt-c
      p Pommeau de douche
      img(src="" alt="Pommeau de douche / Abattant WC")
      input(type="checkbox")
    .sous-theme-sanitaire.txt-c
      p Robinetterie cassée
      img(src="" alt="Robinetterie cassée")
      input(type="checkbox")
    .sous-theme-sanitaire.txt-c
      p hotte
      img(src="" alt="Dysfonctionnement de la hotte")
      input(type="checkbox")
    .sous-theme-sanitaire.txt-c
      p Joints 
      img(src="" alt="Joints")
      input(type="checkbox")
    .sous-theme-sanitaire.txt-c
      p Faïence cassée
      img(src="" alt="Faïence cassée")
      input(type="checkbox")
