section.section.section-sanitaires-cuisine-resultats
  .container
    .row
      .col.col-md-8.offset-md-2.content-cuisine-resultats
        img(src="img/cusine-img.png")
        h2 Sanitaires & cuisine
        h3 Tartres/Calcaires/Moisissures
        p Pour nettoyer tous types de tartres, calcaires ou moisissures utilisez une éponge imbibée de vinaigre blanc, et beaucoup d’huile de coude. Si nécessaire, changez les joints directement.
        a(href="#")
          button.btn.buttons.button-resultats Voir le produit
        h4 &#9733
        h3 Pommeau de douche
        p Votre pommeau de douche ne fonctionne plus ou est fêlé ? Votre propriétaire est en droit de vous en facturer un nouveau. Commandez un pommeau de douche à prix réduit et changez-le…
        a(href="#")
          button.btn.buttons.button-resultats Voir le produit
        h4 &#9733
        h3 Abattant WC
        p Ne perdez pas d’argent sur votre caution à cause d’un simple abattant de WC, si le vôtre est usé ou abîmé, changez le !
        a(href="#")
          button.btn.buttons.button-resultats Voir le produit
        h4 &#9733
        h3 Robinetterie cassée
        p Votre propriétaire ne manquera pas de vérifier la robinetterie à l’état des lieux de sortie. Pas de solution miracle : changez-la à moindre coût plutôt que de le laisser faire la retenue sur la caution.
        a(href="#")
          button.btn.buttons.button-resultats Voir le produit
        h4 &#9733 &#9733 &#9733
        .col.col-md-8.content-produits
          h3 Dysfonctionnement de la hotte
          a(href="#")
          .infor
            p i
        p Pour une hotte qui ne fonctionne plus, votre propriétaire pourra vous facturer en moyenne 
          span 150 € 
          | (ou plus) pour la remplacer. Réagissez avant et changez votre hotte à prix réduit pour ne pas avoir de mauvaise surprise.!
        a(href="#")
          button.btn.buttons.button-resultats Voir le produit
        h4 &#9733 &#9733 &#9733
        h3 Joints des sanitaires en mauvais état
        p Vous avez des joints en mauvais état ? Attention, votre propriétaire peut vous facturer le coût de nettoyage ou le coût de remplacement. Nettoyez-les au vinaigre blanc, et remplacez-les si nécessaire.
        a(href="#")
          button.btn.buttons.button-resultats Voir le produit
        h4 &#9733
        h3 Faïence/carreau cassé
        p Pour la pose d’un nouveau carreau de faïence, enlevez 
          span 30€ 
          |en moyenne par carreau sur votre caution, sans compter les frais de main d’œuvre et de déplacement ! Si vous êtes bricoleur, rendez-vous sur ce tuto pour changer votre carreau vous-même. Pas le temps ni l’envie de le faire ? N’oubliez pas les plateformes d’entraide entre bricoleurs.
        a(href="#")
          button.btn.buttons.button-resultats Voir le produit
        h4 &#9733 &#9733 &#9733
