section.section.section-sanitaires-cuisine-st
  .container
    .row
      .col.col-md-8.offset-md-2.sanitaire-cuisine
        .row
          .col.col-md-6.txt-c.cuisine-st
            .content-cuisine
               img(src="img/cusine-img.png" alt="cusines et sanitaires" width="384px" height="64px")
               h2 Sanitaires et Cuisine
               p La cuisine ou les sanitaires sont abimés ? voici nos sous thèmes pour vous aider !
               p.m-auto Selectionnez les sous thèmes où vous rencontrez un problème.
          .col.col-md-4.offset-md-1.liste-st-cuisine
            ul 
              li
                input.input-st(type="checkbox")
                p Tartres/Calcaires
              li 
                input.input-st(type="checkbox")
                p Pommeau de douche
              li 
                input.input-st(type="checkbox")
                p Robineterie cassée
              li 
                input.input-st(type="checkbox")
                p hotte
              li 
                input.input-st(type="checkbox")
                p Joints
              li 
                input.input-st(type="checkbox")
                p Faïance cassée
