section.section.section-sols-resultats
  .container
    .row
      .col.col-md-8.offset-md-2.content-sols-resultats
        img(src="img/sols-img.png")
        h2 Les sols
        .col.col-md-8.content-produits
          h3 Moquette sale
          .infor
            p i
        p Une astuce : nettoyez votre moquette au bicarbonate de soude.  Si les tâches résistent, pensez aux professionnels du nettoyage :  cela pourrait peut-être revenir moins cher de laisser votre propriétaire s’en occuper…
        a(href="#")
          button.btn.buttons.button-resultats Voir le produit
        .col.col-md-8.content-produits
          h3 Parquet sale
          .infor
            p i
        p Traquez et effacez les rayures sur votre parquet : attention, les solutions sont différentes en fonction de votre type de parquet :  vitrifié, stratifié ou ciré. Un conseil, faites bien attention à ne pas faire de nouvelles rayures en déménageant les meubles : mettez des chiffons sous les pieds !
        a(href="#")
          button.btn.buttons.button-resultats Voir le produit
        .col.col-md-8.content-produits
          h3 Sols en PVC sales
          .infor
            p i
        p Evitez les frais d’une agence de nettoyage ! Quelques gouttes de savon noir diluées dans de l’eau feront l’affaire.
        a(href="#")
          button.btn.buttons.button-resultats Voir le produit
