section.section.section-sols-st
  .container
    .row
      .col.col-md-8.offset-md-2.sols
        .row
          .col.col-md-6.txt-c.sols-st
            .content-sols
               img(src="" alt="sols")
               h2 Les sols
               p Le sols est abimés ? voici nos sous thèmes pour vous aider !
               p.m-auto Selectionnez les sous thèmes où vous rencontrez un problème.
          .col.col-md-4.offset-md-1.liste-st-sols
            ul 
              li
                input.input-st(type="checkbox")
                p Moquettes sales
              li 
                input.input-st(type="checkbox")
                p Parquets sales
              li 
                input.input-st(type="checkbox")
                p Sols en PVC sales 
              li 
                input.input-st(type="checkbox")
                p Carrelage cassé
