section.section.section-sols-st
  .conatiner
    .row
      .col.col-md-6.offset-md-3.txt-c.title-sols-st
         h2 Les sols
  .div-sols
    .sous-theme-sols.txt-c
      p Moquettes sales
      img(src="" alt="Moquettes sales")
      input(type="checkbox")
    .sous-theme-sols.txt-c
      p Peintures sales/abimés
      img(src="" alt="Peintures sales/abimés")
      input(type="checkbox")
    .sous-theme-sols.txt-c
      p Sols en PVC sales
      img(src="" alt="Sols en PVC sales")
      input(type="checkbox")
    .sous-theme-sols.txt-c
      p Carrelage cassé
      img(src="" alt="Carrelage cassé")
      input(type="checkbox")
