section.section.section-to-lastpage
  .container
    .row
      .col.col-md-6.offset-md-3.txt-c.last-step
        p C'est bientôt terminé, dernière étape les solutions qui sauveront votre caution!
        a(href="page-resultats.html")
          button.btn.button-primary.buttons.btn-here Continuer
