doctype html
html
  head
    include ../includes/metas.pug
    include ../includes/stylesheets.pug

  body.body-articles
    block activeLink
      -var active = 'Accueil'; // page active par défaut
    
    -var menu = { 'Accueil': 'index.html', 'Test': 'test.html'};
    
    block content
      
    include ../layouts/footer.pug

    //- Import scripts
    include ../includes/scripts.pug
